# =============================
# GRAFANA
# =============================
grafana-data/
grafana_data/
*.db
*.log

# =============================
# MOSQUITTO
# =============================
mosquitto/data/
mosquitto/log/

# =============================
# NODE (por si acaso)
# =============================
node_modules/
.env

# =============================
# DOCKER
# =============================
*.pid
*.sock

# =============================
# SISTEMA
# =============================
.DS_Store
Thumbs.db


# =============================
# PYTHON
# =============================

raspberry/.venv
raspberry/venv
